* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('./images/fundo.jpg');
}

.body {
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  font-size: 17px;
  padding: 10px;
}

h1 {
  font-size: 80px;
  padding: 15px;
  text-shadow: 0 0 15px black;
}

h2 {
  font-size: 30px;
  padding: 25px;
  text-shadow: 0 0 15px black;
}

p {
  margin-bottom: 5px;
}
